.scholarships {
  display: flex;
  width: 100%;
}

.scholarships_main {
  width: calc(100% - 250px);
}
.scholarships_main_modal {
  width: 100%;
}
.scholarships_filter {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.scholarships_filter input[type="text"] {
  width: 350px;
}
.scholarships_filter select {
  width: 200px;
}
.scholarships_grid {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  gap: 10px;
}
.scholarships_counsellor {
  cursor: pointer;
  box-shadow: var(--shadow);
  padding: 20px 0;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.scholarships_counsellor_book {
  cursor: pointer;
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.scholarships_counsellor_book img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 10px;
}
.acaddemic_book_image {
  display: flex;
  align-items: center;
  width: 40%;
}
.scholarships_counsellor img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.scholarships_counsellor_name {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.scholarships_counsellor_occupation {
  text-align: center;
  margin: 0;
  color: grey;
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  .scholarships_main {
    width: 100%;
  }
  .scholarships_filter input[type="text"] {
    width: 100%;
  }
  .scholarships_filter select {
    width: 100%;
  }
  .scholarships_grid {
    grid-template-columns: 12fr;
  }
}
