.student {
  display: flex;
  width: 100%;
}

.student_main {
  width: calc(100% - 250px);
}
.loan_grid {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 40px;
}
.loan_calculator {
  background-color: aliceblue;
  padding: 20px;
}
.loan_results {
  text-align: center;
}
.loan_results div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  .student_main {
    width: 100%;
  }
  .loan_grid {
    grid-template-columns: 12fr;
  }
}
